/* Color palette */
$color-black: #000000;
$color-white: #ffffff;
$color-greyish-brown: #424242;
$color-gray-500: #aeaeae;
$color-gray-900: #333333;
$color-brown-200: #C8B9B3;
$color-brown-400: #8D6E63;


/* Sizes */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

/* Body color */
$body-color: $color-black;

/* Main nav colors */
$main-nav-color-bg: $color-greyish-brown;
$main-nav-color: $color-white;
$main-nav-link-color: $color-white;
$main-nav-link-color-hover: $color-gray-500;
$main-nav-link-color-current: $color-brown-200;
$main-nav-link-color-active: $color-brown-400;

/* Challanges catalog */
$challanges-ctalog-color-button-line: $color-gray-900;

/* Challanges list */
$challanges-list-color-vert-line: $color-gray-900;

/* Site nav colors */
